    <div class="row">
      <div class="col-xs-12">
        <h3>Hungarian algorithm</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Abstract</h4>
        <p>
          Vivamus imperdiet malesuada scelerisque. Ut tincidunt vulputate tempus. Cras tristique varius tristique. Mauris facilisis neque ut convallis convallis. Nulla varius elementum libero, eu condimentum ex facilisis id. Ut tincidunt mi ultricies lectus porttitor blandit. Donec lacus justo, fermentum id interdum vitae, varius eu arcu. Morbi fringilla sit amet ex sed commodo. Fusce semper non quam efficitur commodo. Etiam ac dictum lacus. Etiam aliquam vel quam ac varius. Ut commodo, sapien sed dignissim convallis, libero elit condimentum est, ut lobortis elit arcu id erat.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="jumbotron">
          <h4>Documentation</h4>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Download</a></p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="jumbotron">
          <h4>Try it!</h4>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#/tryIt" role="button">Try it</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="jumbotron">
          <h4>Github code</h4>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Go to Github</a></p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="jumbotron">
          <h4>REST API</h4>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">API description</a></p>
        </div>
      </div>
    </div>